utstutor/src/service/soap/client/UtsTutor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.service/" name="utsTutorService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.uts.edu.au/31284/wsd" schemaLocation="http://localhost:8080/services/UtsTutor?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soap.service/" schemaLocation="http://localhost:8080/services/UtsTutor?xsd=2"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="cancelBooking">
<part name="parameters" element="tns:cancelBooking"/>
</message>
<message name="cancelBookingResponse">
<part name="parameters" element="tns:cancelBookingResponse"/>
</message>
<message name="createBooking">
<part name="parameters" element="tns:createBooking"/>
</message>
<message name="createBookingResponse">
<part name="parameters" element="tns:createBookingResponse"/>
</message>
<message name="getBookings">
<part name="parameters" element="tns:getBookings"/>
</message>
<message name="getBookingsResponse">
<part name="parameters" element="tns:getBookingsResponse"/>
</message>
<message name="editAccount">
<part name="parameters" element="tns:editAccount"/>
</message>
<message name="editAccountResponse">
<part name="parameters" element="tns:editAccountResponse"/>
</message>
<message name="cancelAccount">
<part name="parameters" element="tns:cancelAccount"/>
</message>
<message name="cancelAccountResponse">
<part name="parameters" element="tns:cancelAccountResponse"/>
</message>
<message name="completeBooking">
<part name="parameters" element="tns:completeBooking"/>
</message>
<message name="completeBookingResponse">
<part name="parameters" element="tns:completeBookingResponse"/>
</message>
<portType name="UtsTutorSoap">
<operation name="login">
<input wsam:Action="http://soap.service/UtsTutorSoap/loginRequest" message="tns:login"/>
<output wsam:Action="http://soap.service/UtsTutorSoap/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="cancelBooking">
<input wsam:Action="http://soap.service/UtsTutorSoap/cancelBookingRequest" message="tns:cancelBooking"/>
<output wsam:Action="http://soap.service/UtsTutorSoap/cancelBookingResponse" message="tns:cancelBookingResponse"/>
</operation>
<operation name="createBooking">
<input wsam:Action="http://soap.service/UtsTutorSoap/createBookingRequest" message="tns:createBooking"/>
<output wsam:Action="http://soap.service/UtsTutorSoap/createBookingResponse" message="tns:createBookingResponse"/>
</operation>
<operation name="getBookings">
<input wsam:Action="http://soap.service/UtsTutorSoap/getBookingsRequest" message="tns:getBookings"/>
<output wsam:Action="http://soap.service/UtsTutorSoap/getBookingsResponse" message="tns:getBookingsResponse"/>
</operation>
<operation name="editAccount">
<input wsam:Action="http://soap.service/UtsTutorSoap/editAccountRequest" message="tns:editAccount"/>
<output wsam:Action="http://soap.service/UtsTutorSoap/editAccountResponse" message="tns:editAccountResponse"/>
</operation>
<operation name="cancelAccount">
<input wsam:Action="http://soap.service/UtsTutorSoap/cancelAccountRequest" message="tns:cancelAccount"/>
<output wsam:Action="http://soap.service/UtsTutorSoap/cancelAccountResponse" message="tns:cancelAccountResponse"/>
</operation>
<operation name="completeBooking">
<input wsam:Action="http://soap.service/UtsTutorSoap/completeBookingRequest" message="tns:completeBooking"/>
<output wsam:Action="http://soap.service/UtsTutorSoap/completeBookingResponse" message="tns:completeBookingResponse"/>
</operation>
</portType>
<binding name="UtsTutorSoapPortBinding" type="tns:UtsTutorSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="utsTutorService">
<port name="UtsTutorSoapPort" binding="tns:UtsTutorSoapPortBinding">
<soap:address location="http://localhost:8080/services/UtsTutor"/>
</port>
</service>
</definitions>